/* Reduce font size to default */
body {
font-size: 16px; /* Adjust as needed */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Override Bootstrap's heading styles if necessary */
h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: normal;
}

/* Adjust padding and margin if they are too large */
.container, .row, .col {
padding: 0 !important;
margin: 0 !important;
}
.main-Wrapper-Api {
margin: 20px;
flex: 1;

}
.api-container {
  display: flex;
}
.divScroll {
height: 300px;
overflow: auto;
}
.data-communication-ctn {
  margin: 0 5% 3%;
}
.data-communication-ctn .wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.dcw-ctn {
border: 1px solid #b1b1b1;
/* width: 30%; */
margin: 0 15px;
border-radius: 5px;
padding: 16px
}
.dcw-ctn .dcw-sibling-ctn {
border: 1px solid #b5b5c4;
padding: 20px;
margin: 22px 0;
}
.hoc-wrapper, .props-wrapper, .error-boundary-wrapper {
  padding: 10px;
  width: 30%;
  margin: 0 auto 10px;
  border: 1px solid #b1b1b1;
}
.component-type-wrapper {
  display: flex;
  justify-content: center;
  .controlled-wrapper, .uncontrolled-wrapper {
    border: 1px solid #b1b1b1;
    padding: 10px;
    margin: 10px;
  }
}
.props-wrapper .pink {
    background: pink;
}